@use '../assets';

.essence {
  margin-top: 120px;

  // .essence__body

  &__body {
    display: flex;
  }

  // .essence__title

  &__title {
    text-align: center;
    margin-bottom: 120px;
  }

  // .essence__text

  &__text {
    max-width: 650px;
    line-height: 150%;
    padding-bottom: 220px;
    strong {
      color: assets.$green;
    }
  }

  &__img {
    position: absolute;
    right: -50px;
  }
}