@use '../assets';

.header {
  padding-bottom: 320px;

  // .header__inner

  &__inner {
    &:before {
      content: "";
      position: absolute;
      background-image: url("./header/header-img.png");
      background-repeat: no-repeat;
      width: 767px;
      height: 788px;
      right: -20px;
      top: 150px;
      z-index: -1;
    }
  }

  // .header__top

  &__top {
    margin-top: 40px;
    position: relative;

    &::before {
      content: "";
      background: assets.$gradient-color;
      position: absolute;
      border-radius: 32px;
      width: 100%;
      height: 100%;
      opacity: 50%;
      z-index: -1;
    }
  }

  // .header__top-list

  &__top-list {
    padding: 24px 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  // .header__top-item

  &__top-item {
    margin-right: 20px;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.3);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  // .header__top-link

  &__top-link {
  }

  // .header__body

  &__body {
    strong {
      color: assets.$purple;
    }
    em {
      color: assets.$blue;
    }
  }
}