@forward './css/blocks/header';
@forward './css/blocks/about';
@forward './css/blocks/essence';
@forward './css/blocks/rules';
@forward './css/blocks/pack';
@forward './css/blocks/advice';
@forward './css/blocks/contact';